<launch>

    <!-- start the modem -->
    <node name="evologics_node" pkg="evologics_driver" type="node" output="screen" respawn="true">
        <!-- set topics input and outputs -->
        <rosparam command="load" file="$(find evologics_driver)/conf/dmace_tiny_modem.yaml" />
        <rosparam command="load" file="$(find evologics_driver)/conf/message_config.yaml" />
    </node>

</launch>
